# requirements.txt

# Core per la dashboard web
streamlit

# Manipolazione e analisi dati
pandas
numpy

# Grafici
plotly

# Per interagire con l'API di EODHD
requests

# Librerie per l'API di Google Drive
cryptography>=3.4.0
google-api-python-client>=2.90.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.0.0
google-auth>=2.23.0
